* {
	text-align: center;
}

h1 {
	margin-top: 80px;
	padding: 8px;
	font-size: 3em;
	color: #332a2a;
}

h1 label {
	border-right: 3px solid #888;
	animation: cursor .5s alternate infinite;
}

h3 {
	padding: 8px;
	font-size: 1.5em;
}

h3 a {
	text-decoration: underline;
	color: #123456;
}

@keyframes cursor {
	from {
		border-right-color: rgb(136, 136, 136, 0);
	}
	to {
		border-right-color: rgb(136, 136, 136, 1);
	}
}
