#video {
	margin: auto;
	width: 400px;
}

canvas {
	margin: auto;
	width: 400px;
}

#capture_section {
	position: relative;
}

.side {
	overflow: auto;
	position: fixed;
	height: 100%;
	top: 0;
	right: 0;
	width: 50%;
	max-width: 500px;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
}

.side .image {
	position: relative;
	padding: 5px;
	width: 80%;
	margin: auto;
}

.side .image img {
	width: 100%;
}

.btn-close {
	position: fixed;
	top: 0;
	right: 12px;
	font-size: 50px;
	color: white;
	cursor: pointer;
}

.btn-close:hover {
	color: tomato;
}

.image footer {
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: transparent;
}

.upload_image {
	width: 300px;
}

.imgs {
	display: flex;
	justify-content: center;
}

.img {
	display: block;
	padding: 2px;
	width: 40px;
	height: 40px;
}

.img.active {
	border: 3px solid yellow;
}

.img-inner {
	background-color: whitesmoke;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.active {
	display: block;
}

.hidden {
	display: none;
}

.controls {
	margin-top: 8px;
	text-align: center;
}

.button {
	margin-bottom: 5px;
}
