.post {
	padding: 8px;
	margin: auto;
	max-width: 1000px;
}

.details {
	max-width: 70%;
}

.reaction {
	position: relative;
	display: inline-block;
	padding: 2px;
	cursor: pointer;
	border-radius: 6px;
	border-width: 2px;
	background-color: #f5f5f5;
	color: #000000;
}

.reaction * {
	cursor: pointer;
}

.reaction:hover {
	background-color: #e6eba1;
}

.reaction.active {
	border: 2px solid #0099ff;
}

.icon {
	color: transparent;
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 3px;
}

.icon.small {
	width: 20px;
}

.image {
	position: relative;
}

.image img {
	display: block;
	width: 50%;
	margin: auto;
}

.image .footer {
	position: absolute;
	bottom: 40px;
	width: 100%;
	background-color: rgb(0, 0, 0)!important;
}

.footer .left {
	position: absolute;
	top: 0;
	left: 0;
}

.footer .right {
	position: absolute;
	top: 0;
	right: 0;
}

.footer .button {
	padding: 2px 14px;
	border-radius: 6px;
}

.comments {
	display: none;
}

.comment-action {
	padding: 5px;
	width: 15px;
	height: 15px;
	border-top: 4px solid #000;
	border-right: 4px solid #000;
	margin-bottom: 10px;
	transform: rotate(45deg);
	cursor: pointer;
	transition: .3s ease-in;
}

.comment-action.down {
	transform: rotate(135deg);
}

.comments.show {
	display: block;
}

.comment {
	position: relative;
	margin-top: 5px;
	padding: 8px;
	border-radius: 6px;
	border: 1px solid #777;
}

.comment .owner {
	display: block;
	padding: 5px;
	color: #565683;
}

.comment .date {
	display: block;
	padding: 0 5px 5px 5px;
	color: #777;
	font-size: .8em;
}

.comment .text {
	padding: 5px;
	overflow: auto;
	max-height: 100px;
}

.pages_links {
	position: relative;
	text-align: center;
}

.pages_links a {
	padding: 2px 8px;
	border: 1px solid #888;
	text-decoration: none;
	color: #123456;
}

.pages_links a:hover {
	background-color: #f5f5f5;
}

.delete {
	width: 25px;
	height: 25px;
	background-image: url(/assets/imgs/icons/delete.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.textarea {
	min-width: 100%;
	max-width: 100%;
	min-height: 100px;
	max-height: 200px;
}
