/* https://coolors.co/b6be9c-ffb4a2-7b9e87-ee7674-ffee8a */
/* https://coolors.co/c1a6f4-faaf8f-fdcfb0-f1f4ff-ffffff */
/* https://getbootstrap.com/docs/4.0/utilities/colors/#dealing-with-specificity */

:root {
	--text-primary: #007bff;
	--text-secondary: #6c757d;
	--text-success: #28a745;
	--text-danger: #dc3545;
	--text-warning: #ffc107;
	--text-info: #17a2b8;
	--text-light: #f8f9fa;
	--text-dark: #343a40;
	--text-muted: #6c757d;
	--text-white: #ffffff;
	--text-black: #000000;

	--bg-primary: #007bff;
	--bg-secondary: #6c757d;
	--bg-success: #28a745;
	--bg-danger: #dc3545;
	--bg-warning: #ffc107;
	--bg-info: #17a2b8;
	--bg-light: #f8f9fa;
	--bg-dark: #343a40;
	--bg-muted: #6c757d;
	--bg-white: #ffffff;
	--bg-black: #000000;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 1em;
	font-weight: normal;
}

a,
input,
button,
textarea {
	border: none;
	outline: none;
	border-radius: none;
	text-decoration: none;
}

body {
	font-family: Helvetica, sans-serif;
}
