.container {
	position: relative;
	width: 80%;
	max-width: 1200px;
	margin: auto;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: left;
}

.hidden {
	display: none;
}

.modal {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.modal.show {
	display: block;
}

.modal .modal-inner {
	position: relative;
	margin-top: 100px;
}

.switch-toggle {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
	border-radius: 25px;
	background-color: #989898;
}

.switch-toggle input {
	display: none;
}

.switch-toggle div {
	position: absolute;
	border-radius: 50%;
	background-color: #DFDFDF;
	transition: .1s ease;
}

.switch-toggle input:checked + div {
	left: 50%;
	background-color: #2693E6;
}

.switch-toggle.outer div {
	width: 26px;
	height: 26px;
	top: -3px;
	left: -3px;
}

.message .text {
	padding: 5px;
}

.message.success .text {
	color: #79cc79;
	animation: updated 1s 1;
}

.message.error .text {
	color: tomato;
	animation: updated 1s 1;
}

.message.info .text {
	color: #7d9bff;
	animation: updated 1s 1;
}

.message.warning .text {
	color: #f5a25e;
	animation: updated 1s 1;
}

@media screen and (max-width: 700px) {
	.container {
		width: 100%;
	}
}

@keyframes updated {
	from {
		background-color: #888888;
	}
	to {
		background-color: #ffffff;
	}
}